nav{
    padding: var(--primary-padding);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-color-green);
}
nav ul {
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font: var(--cta-font);
}


header{
    padding: var(--primary-padding);
    background-color: var(--primary-color-green);
    color: var(--secondary-color-ash);
    position: relative;
}
.header-inner{
    width: 500px;
    padding: 30px 0;
}
.header-inner h1{
    font: var(--primary-title-font);
    color: var(--primary-color-yellow);
    margin: 0;
}
.header-inner h3{
    font: var(--primary-subtitle-font);
    margin: 0;
}
.header-inner p{
    font-size: 18px;
    margin-bottom: 40px;
}
a{
    text-decoration: none;
    color: var(--secondary-color-black);
}
.header-img{
    position: absolute;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    right: 200px;
    top: 40px;
}
.header-img img{
    width: 100%;
    height: 100%;
    border-radius: var(--img-border);
}


.specials{
    padding: 60px 200px 30px 200px;
}
.specials-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.specials-head h1{
    font: var(--secondary-title-font);
}
.specials-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.specials-item{
    border-radius: 20px 20px 0 0;
    border: 1px solid var(--secondary-color-ash);
}
.item-head{
    width: 100%;
    height: 200px;
}
.item-head img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
.item-body{
    background-color: var(--secondary-color-ash);
    padding: 0 30px 20px 30px;
}
.item-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-title h4{
    font: 18px bolder;
}
.item-title h5{
    color: var(--secondary-color-orange-dark);
    font: 18px bold;
}
.item-description{
    margin: 0;
}
.item-description p{
    font-size: 16px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: justify;
    color: var(--secondary-color-gray);
}
.item-description a{
    font-weight: 600;
}


footer{
    padding: var(--primary-padding);
    background-color: var(--primary-color-green);
    color: var(--secondary-color-ash);
}
.footer-inner{
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    place-items: center;
    text-align: center;
}
.footer-image{
    height: 150px;
    width: 100px;
    /* display: flex;
    justify-content: center; */
}
.footer-image img{
    width: 100%;
    height: 100%;
}
.footer-inner h5, .footer-inner p{
    margin: 10px;
}